{% extends 'base.html' %}

{% block title %}
  Профайл пользователя {{ author.get_full_name }}
{% endblock %}

{% block content %}       
    <h1>Все посты пользователя {{ author.get_full_name }} </h1>
    <h3>Всего постов: {{ posts_numbers }} </h3>
    {% include 'includes/paginator.html' %}
    <article>
        {% for post in page_obj %}
          {% include 'includes/post_block.html' with show_author=False show_group=True %}
          {% if not forloop.last %}<hr>{% endif %}
        {% endfor %}
    </article>              
    {% include 'includes/paginator.html' %}
{% endblock %}